body{
	height: 100vh;
	overflow: hidden;
}
nav{
	height: 10vh;
	background-color: var(--color-1);
	color: white;

	display: flex;
	flex-direction: row;

	min-height: 50px;
	align-items: center;
}
nav a{
	color: white;
	height: 100%;
	padding: 0 20px;
	
	display: flex;
	flex-direction: row;
	align-items: center;

	text-decoration: none;

	transition: all 0.4s ease;
}
nav a:hover{
	background-color: var(--color-5);
}
.selected{
	background-color: var(--color-5);
}
#pi_logo{
	height: 4vh;
	padding-right: 10px;
}
#logo{
	
}
.tab-view{
	height: 90vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.selected{
	padding: 0 50px !important;
}
@media screen and (max-width: 700px) {
    nav{
		max-width: 100%;
		overflow: hidden;
	}
	nav a{
		font-size: 1.8em;
		padding: 0 7px;
	}
	.selected{
		padding: 0 25px !important;
	}
}