<nav>
	<a [routerLink]="['pi']" id="logo">
		<img src="/assets/PI_logo.svg" alt="PI" id="pi_logo" class="pi">
		PI
	</a>

	<span class="spacer"></span>

	<a [routerLink]="['calculadora']">
		<i class="fa-solid fa-calculator" *ngIf="small"></i>
		<p *ngIf="!small">Calculadora</p>
	</a>
	
	<a [routerLink]="['conversiones']">
		<i class="fa-solid fa-retweet" *ngIf="small"></i>
		<p *ngIf="!small">Conversiones</p>
	</a>
	
	<a [routerLink]="['mac']">
		<i class="fa-solid fa-location-dot" *ngIf="small"></i>
		<p *ngIf="!small">MAC</p>
	</a>
</nav>
<div class="tab-view">
	<router-outlet></router-outlet>
</div>