<div class="container">
    <h1>MAC</h1>
    <p>
        La dirección MAC o también llamado "Media Access Control" es un identificador único que cada fabricante le asigna a la tarjeta de red de sus dispositivos conectados, desde un ordenador o móvil hasta routers, impresoras u otros dispositivos.
    </p>
    <p>
        La dirección MAC está conformada por 48 bits agrupados por 6 octetos, donde 3 identifican al fabricante y los otros 3 corresponden al NIC o modelo del dispositivo.
    </p>    
<div class="container-input">
    <input type="text" #mac class="mac-input" placeholder="00:00:00:00:00:00">
    <button mat-icon-button (click)="llamarAPI(mac.value)"><mat-icon>search</mat-icon></button>
</div>

<div class="info" *ngIf="info!=null">
    <mat-divider></mat-divider>
    <h2>Detalles del proveedor</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <span class="primero">OUI</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.vendorDetails.oui
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Nombre</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.vendorDetails.companyName
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Dirección</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.vendorDetails.companyAddress
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Código de país</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.vendorDetails.countryCode
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Privado</span>
            <span class="spacer"></span>
            <span class="segundo">
                <mat-icon>{{info.vendorDetails.isPrivate?'check':'close'}}</mat-icon>
            </span>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <h2>Detalles del bloque</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <span class="primero">Encontrado</span>
            <span class="spacer"></span>
            <span class="segundo">
            <mat-icon>{{info.blockDetails.blockFound?'check':'close'}}</mat-icon>
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Borde izquierdo</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.borderLeft
            }}
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Borde derecho</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.borderRight
            }}
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Tamaño del bloque</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.blockSize
            }}
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Tamaño del bloque de asignación</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.assignmentBlockSize
            }}
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Creado</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.dateCreated
            }}
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Actualizado</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.blockDetails.dateUpdated
            }}
            </span>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <h2>Detalles dirección MAC</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <span class="primero">Buscado</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.macAddressDetails.searchTerm
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Válido</span>
            <span class="spacer"></span>
            <span class="segundo">
                <mat-icon>{{info.macAddressDetails.isValid?'check':'close'}}</mat-icon>
            </span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Tipo de transmisión</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.macAddressDetails.transmissionType
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Tipo de administración</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.macAddressDetails.administrationType
            }}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="primero">Notas de Wireshark</span>
            <span class="spacer"></span>
            <span class="segundo">{{
                info.macAddressDetails.wiresharkNotes
            }}</span>
        </mat-list-item>
    </mat-list>
</div>

</div>