p{
    text-align: justify;
}
.container{
    margin: 5% 15%;
}
.container-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mac-input{
    font-size: 2em;
    border: none;
    height: 50px;
    width: 40%;
    padding: 0 20px;
    border-bottom: 2px solid var(--color-1);
    text-align: center;
    transition: all 0.3s;
}
.mac-input:focus{
    outline: none;
    background-color: var(--color-2);
}
.primero{
    color: var(--color-1);
    max-width: 50%;
}
.segundo{
    text-align: right;
    max-width: 50%;
}
.mat-divider{
    margin: 20px auto;
}
.mat-list-item{
    height: max-content !important;
    min-height: 48px !important;
    padding: 20px 10px 0 10px !important;
}
.mat-list-item:hover{
    background-color: var(--color-2);
}
@media screen and (max-width: 900px) {
    .mac-input{
        width: 90%;
        font-size: 1.2em;
    }
    .container{
        margin: 5% 10%;
    }
}